/* 
   Lakeland Reeds Bed & Breakfast style sheet 
   Filename: styles.css

   Author: Mitchell Mudd
   Date: 03/24/2024 
   HTML5 and CSS3 Illustrated Unit M, Lessons
 */

/* reset styles */
html {
   font-size: 16px;
}

a,
article,
body,
div,
fieldset,
figcaption,
figure,
footer,
form,
header,
h1,
h2,
h3,
img,
input,
label,
legend,
li,
nav,
p,
section,
textarea,
ul {
   border: 0;
   padding: 0;
   margin: 0;
}

img {
   max-width: 100%;
   height: auto;
   width: auto;
}

ul {
   list-style-type: none;
}

/* document-wide styles */
body {
   margin: 0 auto;
   font-family: Arial, Helvetica, sans-serif;
   background: #7eccec;
}

a:link {
   color: black;
}

a:visited {
   color: #888;
}

/* skip navigation link */
p.skipnavigation a {
   position: absolute;
   left: -10000px;
}

p.skipnavigation a:focus {
   color: ivory;
   background-color: #34180f;
   top: 0.4em;
   left: auto;
   right: 0.4em;
   z-index: 2;
}

/* header section */
header {
   max-width: 800px;
   margin: 0 auto;
}

h1 {
   text-align: center;
   font-family: Bitter, "Times New Roman", Times, serif;
   font-weight: 700;
   color: ivory;
   background-color: white;
   font-size: 2.4em;
}

/* site navigation bar */
nav.sitenavigation {
   max-width: 800px;
   margin: 0 auto;
   color: #34180f;
   text-align: center;
   background-color: #B8944D;
}

nav.sitenavigation li {
   margin: 0.3em 0.5em;
   padding: 0.2em 0.4em;
   display: inline-block;
   font-size: 1.3em;
   line-height: 1.4em;
   border-radius: 10px;
}

nav.sitenavigation li:hover {
   background-color: #34180f;
}

nav.sitenavigation a:link {
   text-decoration: none;
   color: #34180f;
}

nav.sitenavigation a:visited {
   color: #744f42;
}

nav.sitenavigation a:hover,
nav.sitenavigation a:focus {
   color: ivory;
}

/* main content */
article {
   max-width: 740px;
   margin: 0 auto;
   padding: 0 30px 1em;
   background-color: ivory;
   overflow: auto;
}

h2 {
   padding: 0.4em;
   text-align: center;
   font-family: Bitter, "Times New Roman", Times, serif;
   font-size: 2em;
   font-weight: 700;
}

h3 {
   margin: 1.4em 0 0.5em;
   font-size: 1.6em;
   font-family: Bitter, "Times New Roman", Times, serif;
   font-weight: 700;
   clear: both;
}

/* form styles */
form {
   max-width: 400px;
   padding: 10px;
   margin: 0 auto;
}

.form-instructions {
   color: red;
   text-align: center;
}

/* fieldset styles */
fieldset {
   margin-bottom: 0.8em;
}

legend {
   font-size: 1.25em;
}

.reserveinfo {
   position: relative;
}

.submitbutton {
   display: none;
}

/* field styles */
input,
textarea {
   border: 1px solid #ccc;
   padding: 0.2em;
   font-size: 1em;
   display: block;
}

.contactinfo input,
.additionalinfo input {
   width: 25em;
   margin-bottom: 0.6em;
}

textarea {
   width: 25em;
   height: auto;
}

#submit {
   border: none;
   padding: 0.4em 0.6em;
   margin: 0 auto;
   background-color: #e3d5ba;
   font-size: 1.25em;
   border-radius: 10px;
}

/* label styles */
label {
   margin: 0.8em 0;
   font-size: 1em;
   line-height: 1.6em;
   font-weight: bold;
}

/* feedback preview section */
.feedback-preview {
   max-width: 400px;
   padding: 10px;
   margin: 0 auto;
   border: 2px solid black;
   font-size: 1.3em;
   background-color: white;
   display: none;
}

.show {
   display: block;
}

.feedback-preview p {
   margin-bottom: 0.3em;
}

.table-row {
   display: table-row;
}

.table-row div:first-child {
   font-weight: bold;
}

.table-cell {
   padding: 0 0.2em;
   display: table-cell;
}

.feedback-content {
   padding: 0.4em 0.2em 0;
}

/* footer section */
footer {
   max-width: 800px;
   margin: 0 auto;
   padding: 0.6em 0;
   background-color: #34180f;
   color: ivory;
   text-align: center;
}

/* print styles */
@media print {

   body,
   h1,
   article,
   footer {
      color: rgb(0, 0, 0);
      background: rgb(255, 255, 255);
   }

   body {
      max-width: 100%;
   }

   nav {
      display: none;
   }
}

@page {
   margin: 0.75in;
}