/* 
   Lakeland Reeds Bed and Breakfast style sheet 
   Filename: styles.css

   Author: Mitchell Mudd 
   Date: 02/11/2024
   HTML5 and CSS3 Illustrated Unit F, Lessons
 */

/* reset styles */
html {
   font-size: 12px;
}
a, article, body, div, footer, header, h1, h2, h3, nav, p {
   border: 0;
   padding: 0;
   margin: 0;
}

/* body */
body {
   max-width: 800px;
   margin: 0 auto;
   background-color: #dee9f9;
   font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.container {
   background-color: #B8944D;
   position: relative;
}
p {
   font-size: 1.4em;
   line-height: 1.6em;
}

a:link {
   color: black;
}

a:visited {
   color: #888;
}

a:active {
   position: relative;
   top: 1px;
   left: 1px;
}

/* skip navigation link */
p.skipnavigation a {
   position: absolute;
   left: -10000px;
}

p.skipnavigation a:focus {
   color: #34180f;
   background-color: ivory;
   top: 0.2em;
   left: 0.4em;
   z-index: 2;
}

/* header section */
h1 {
   padding: 0.6em 0.4em 0.4em;
   text-align: center;
   font-family: Bitter, "Times New Roman", Times, serif;
   font-weight: 700;
   color: ivory;
   background-color: #34180f;
   font-size: 3.4em;
}

/* site navigation bar */
nav.sitenavigation {
   /* width: 19%;
   padding: 3%;
   float: left; */ 
   color: #34180f;
   text-align: center;
}

nav.sitenavigation p {
   display: inline-block;
   margin: 0.5em;
}

nav.sitenavigation a:link {
   text-decoration: none;
   color: #34180f;
}

nav.sitenavigation a:visited {
   color: #744f42;
}

nav.sitenavigation a:hover, nav.sitenavigation a:focus {
   color: ivory;
}

/* main content */
article {
  /* width: 69%; */
   padding: 0 3% 1em;
   background-color: ivory;
   /* float: right; */
}
h2 {
   padding: 0.4em 0.4em 0;
   text-align: center;
   font-family: Bitter, "Times New Roman", Times, serif;
   font-size: 2.4em;
   font-weight: 700;
}

h3 {
   margin-top: 1.4em;
   font-size: 1.8em;
   font-family: Bitter, "Times New Roman", Times, serif;
   font-weight: 700;
}
article p {
   padding-top: 1em;
}
.title {
   font-style: italic;
}

nav.pagenavigation {
   margin-top: 1em;
   text-align: center;
   color: white;
   background-color: #422100;
}

nav.pagenavigation p {
   display: inline-block;
   margin: 0.5em;
   padding: 0;
}

nav.pagenavigation a:link {
   text-decoration: none;
   color: #cbb58b;
}

nav.pagenavigation a:visited {
   color: #dee9f9;
}

nav.pagenavigation a:hover, nav.pagenavigation a:focus {
   color: ivory;
}

/* footer section */
footer {
   padding: 0.6em;
   background-color: #34180f;
   color: ivory;
   text-align: center;
 /*  clear: both; */
}
footer p {
   margin: 0.4em;
}
.accent {
   font-weight: bold;
}

/* print styles */
@media print {
   body, h1, article, footer {
      color: rgb(0,0,0);
      background-color: rgb(255,255,255);
   }
   body {
      max-width: 100%;
      border: 0;
   }
   h1 {
      font-size: 2.6em;
      padding: 0;
   }
   h2 {
      font-size: 2.2em;
   }

   nav {
      display: none;
   }

   article p {
      margin: 0.4em 0 0;
   }
}
@page {
   margin: 0.75in;
}