body {
    background-color: ivory;
    text-align: left;
}

/*
Lakeland Reeds Bed and Breakfast style sheet
Filename: styles.css

Author: Mitchell Mudd
Date: 01/21/2024
HTML and CSS3 Illustrated Unit C, Lessons
*/

#contact {
    text-align: right;
}

.accent {
    color: darkcyan
}

h1,
#contact {
    background-color: palegoldenrod;
    color: dimgray
}

p {
    color: red;
}

